{% extends 'base.html' %}
{% block content %}

<h1 class="display-4">Add a New Song</h1>
<br>
<form method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden'%}
    <p class="custom-list-item text-primary" >
        {% if 'Title' in field.label.text %}
            &nbsp;&nbsp;{{field.label}}:
            {{field}}
        {% else %}
            {{field.label}}:
            {{field}}
        {% endif %}
        {% for err in field.errors %}
        {{err}}
        {% endfor %}
    </p>
    {% endfor %}
    <button class="btn btn-primary">Submit</button>
    </form>
{% endblock %}